{# load cache #}
{#   load feeds  #}
<!DOCTYPE HTML>
<html>

<head>
  <title>{% block title %}Alibaba RMS{% endblock %}</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="requirement,backlog" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/pygments-colorful.css" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
        var url = window.location.href;
        var category = url.replace(/http:\/\/.*?\/.*?\/(.*?)\/.*/ig,"$1");
        $("#"+category+"Link").addClass("selected")
    });
  </script>
</head>

<body>
<div id="header">
     <div id="logo">
       <div id="logo_text">
         <h1><a href="{% url product_index %}">Alibaba &nbsp;<span class="logo_colour">RMS</span></a></h1>
           <span style="float:right"><h2>requirements management system</h2></span>
       </div>
     </div>
     <div id="menubar">
       <ul id="menu">
         <li id="productLink"><a href="{% url product_index %}">Product</a></li>
         <li id="backlogLink"><a href="{% url backlog_index %}">Backlog</a></li>
     {% if user.is_authenticated %}
     <li><a href="#">Logged in: {{ user.username }}</a></li>
     <li><a href="{% url auth_logout %}">Log out</a></li>
     <li id="passwordLink"><a href="{% url auth_password_change %}">Change pass.</a></li>
     {% else %}
     <li id="loginLink"><a href="{% url auth_login %}">Log in</a></li>
     {% endif %}

       </ul>
     </div>
   </div>

	{% block content %}
	{% endblock %}

</body>
</html>
