{% extends "base.html" %}
{% load comments %}
{% load blog_tags %} 

{% block content %}
        <h1>{{ entry.name }}</h1>                                                                 
        <p>by ::[<a href="#">Lasko</a>]:: -- {{ entry.modified }}</p>

	<p>{{ entry.data|render|safe}}<br/><br/>
        {% if user.is_authenticated %}
            -- :: [<a href="{% url blog_edit entry.pk %}"><b>Edit</b></a>] [<a href="{% url blog_delete entry.pk %}"><b>Delete</b></a>]:: --
        {% endif %}
        </p>
	<br/><br/>
	
	<h1>Comments</h1>
	{% get_comment_count for entry as comment_count %}
        <p>{{ comment_count }} comments have been posted.</p>

	{% get_comment_list for entry as comment_list %}
	{% for comment in comment_list %}
	    <div class="comment">
	    <b>On {{ comment.submit_date }}, {{ comment.user_name }} said:</b> <br/>
            {{ comment.comment }}
	    {% if user.is_authenticated %}
	        <br/>:: IP Address: {{ comment.ip_address }}<br/><br/>
	    {% endif %}
            </div><br/>
        {% endfor %}

	{% get_comment_form for entry as form %}
	<div class="form_settings">
	<form action="{% comment_form_target %}" method="post"> {% csrf_token %}
        {% for field in form.visible_fields  %}
                {% if forloop.first %}
                    {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}
                {% endif %}
                <span>{{ field.errors }}</span>
                <p><span>{{ field.label_tag }}</span> {{ field }}</p>
        {% endfor %}
             <p><input type="submit" name="preview" class="submit" value="Preview"></td>
        </form>
        </div>

{% endblock %}
